.footer {
    // display: none;
    border-top: 0.1px rgba(240, 248, 255, 0.154) outset;
    width: 100vw;
    z-index: 400;
    // grid-row: 3;
    display: flex;
    flex-wrap: nowrap;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color: #333;
    background-color: rgb(24, 24, 24);
    text-align: center;

    &-btn {
        // margin: 0;
        // padding: 0;
        background-color: transparent;
    }


    .footer-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        display: flex;
        gap: 7px;
        width: 250px;
        margin: auto;
    }

    .footer-btn {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }

    .song-info {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-inline-start: 25px;
        flex: 0 1 250px;

        img {
            height: 65px;
            width: 65px;
            object-fit: cover;
        }

        h3 {
            margin: 0;
        }
    }

    .active {
        fill: #1db954 !important;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        input[type='range'] {
            overflow: hidden;
            width: 100px;
            height: 4px;
            -webkit-appearance: none;
            background-color: #949494;
            border-radius: 3px;

            &:hover {}
        }

        input[type='range']::-webkit-slider-runnable-track {
            height: 10px;
            -webkit-appearance: none;
            color: #ffffff;
            margin-top: -1px;

        }

        input[type='range']::-webkit-slider-thumb {
            width: 10px;
            -webkit-appearance: none;
            height: 10px;
            background: whitesmoke;
            box-shadow: -80px 0 0 80px #ffffff;

            &:hover {
                box-shadow: -80px 0 0 80px #1db954;
            }
        }

    }

    /** FF*/
    input[type="range"]::-moz-range-progress {
        background-color: #ffffff;
    }

    input[type="range"]::-moz-range-track {
        background-color: #b7b7b7;
    }

    /* IE*/
    input[type="range"]::-ms-fill-lower {
        background-color: #ffffff;
    }

    input[type="range"]::-ms-fill-upper {
        background-color: #b7b7b7;
    }

    .btn-pause {
        margin-inline-start: 9px;
        margin-inline-end: 9px;
        background-color: white;
        border-radius: 50%;

        div {
            padding-inline: 8px;
            padding-block-start: 7px;
            padding-block-end: 5px;
        }
    }
}

.music-settings-container {
    flex: 0 1 250px;

    margin-inline-end: 25px;
    width: 250px;
}


.music-settings {
    justify-content: flex-end;
    // align-content: flex-end;

    display: flex;
    gap: 10px;
    height: 50px;
    align-items: center;
    // justify-items: end;
    // margin-inline-start: 115px;

}

.btn-mute {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 20px;
}

.progress-bar {
    background-color: grey;
    margin-top: 9px;
    width: 100%;
    height: 4px;
    border-radius: 20px;
}

.progress-bar-fill {
    background-color: white;
    width: 0%;
    height: 100%;
    border-radius: 20px;
}

.progress-bar-fill:hover {
    background-color: #1db954;
}

.music-bar {
    margin: auto;
    width: 550px;
    display: flex;
    gap: 5px;
}

.mid-section {
    width: 600px;
    display: grid;
    gap: 5px;
}

.song-info {
    width: 250px;
}

.placeholder {
    width: 250px;
    margin-inline-start: 25px;
}

.duration-span {
    font-size: 0.6875rem;
}