// .header-content-fixed-container {
//     position: absolute;
//     top: 0;
//     left: 0;
// }


.header {
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 2;
    height: 60px;
    width: 100vw;

    background-color: rgba(28, 17, 56, 0);
    // background-color: pink;
    display: flex;
    align-items: center;
    justify-items: space-around;

    button {
        z-index: 600;
        margin-inline-start: 1em;
    }

    .login-btn {
        position: fixed;
        z-index: 300;
        top: 1em;
        right: 1em;
        margin: 0;
        padding: 0;
        margin-inline-end: 15px;
        margin-block-start: -2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 50px;
        height: 32px;
        width: 90px;
    }

    .loggedin-user {
        position: fixed;
        z-index: 300;
        top: 1em;
        right: 1em;
        margin: 0;
        padding: 0;
        margin-inline-end: 15px;
        margin-block-start: -2px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        height: 32px;
        width: 90px;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: center;

        span {
            margin-inline-start: -10px;
            color: whitesmoke;
            background-color: $clr2;
            border-radius: 50%;
        }

        img {
            margin-inline-start: -17px;
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }

        a {
            color: whitesmoke;
            margin-inline-start: -15px;
        }

        a:hover {
            text-decoration: none;
        }
    }

    nav {
        background-color: $clr4;
        padding: 5px 0;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }
}


.header-nav-btn {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 205px;
    padding: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(10, 10, 10);
}

.header-right {
    // display: flex;
}

.header-buttons {
    // margin-inline-end: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}