.header {
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search-input {
        width: 350px;
        height: 40px;
        color: black;
        border-radius: 25px;
        border: none;
        padding: 20px;
    }

    .login-btn {
        margin-inline-end: 20px;
        display: grid;
        align-content: center;
        text-align: center;
        background-color: black;
        border-radius: 50px;
        height: 35px;
        width: 110px;
    }

    .loggedin-user {
        margin-inline-end: 20px;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        height: 35px;
        width: 110px;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: center;

        span {
            color: whitesmoke;
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            margin-inline-start: -10px;
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }

        a {
            color: whitesmoke;
        }

        a:hover {
            text-decoration: none;
        }
    }

    nav {
        background-color: $clr4;
        padding: 5px 0;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }
}


.header-nav-btn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(10, 10, 10);
}

.header-right {
    display: flex;
}