$primary-color: #fff;
$secondary-color: #aaa;

.main-nav {
    min-width: 150px;
    max-width: 200px;
    background-color: black;
    color: rgb(224, 224, 224);
    margin-block-end: 0px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    grid-row: 1 / 5;

    .logo {
        margin-block-start: 15px;
        margin-block-end: 30px;
    }

    a {
        color: rgb(215, 215, 215);
        font-size: 0.7rem;
        margin-block-end: 15px;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.user-playlists {
    a {
        color: rgb(170, 170, 170);
        font-size: 0.7rem;
    }
}

button:hover {
    cursor: pointer;
}

.nav {
    display: grid;
    margin-block-start: 25px;
    margin-block-end: 25px;
}

.create-playlist-btn,
.install-btn {
    background-color: transparent;
    font-weight: bold;
    font-size: 0.7rem;
    width: 100%;
    padding: 0;
    margin: 0;

    &.create-playlist-btn {
        text-align: left;
        margin-block-end: 15px;
    }
}

hr {
    border-color: rgb(20, 20, 20);
}

.playlist-links {
    display: grid;

    .playlist-link:hover {
        cursor: default;
        color: white;
    }
}

.playlist-links:last-child {
    margin-block-end: 130px;
}

.icon {
    fill: white;
}

.create-playlist-btn,
.liked-songs-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-create,
.btn-liked {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #d2d2d2;
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.btn-liked {
    background-color: #7F73E8;
}

.btn-create:hover {
    background-color: #fff;
}

.btn-create .icon {
    margin-block-start: 2px;
    fill: rgb(0, 0, 0);
}

.btn-liked .icon {
    margin-block-start: 3px;
}

.btn-nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-search {
    margin: 0;
    fill: white;
}

.install-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    margin: 0;
    padding: 0;
}