.edit-modal {
    position: absolute;
    // right: 2svw;
    left: 35svw;
    top: 150px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: white;
    /* border: solid 3px grey; */
    // min-width: 200px;
    // width: 40vw;
    width: 570px;
    border-radius: 8px;
    // backdrop-filter: drop-shadow(4px 4px 50px black);
    background-color: #222222;

    &-header {
        display: flex;
        justify-content: space-between;
        padding: 24px;

        &-exit-btn {
            background-color: transparent;
            border: 0;
            border-radius: 32px;
            color: hsla(0deg, 0%, 100%, 0.7);
            margin-top: -4px;
            margin-inline-end: -8px;
            display: flex;
            fill: #c5c5c5;

            :hover {
                background-color: #3e3e3e;
            }
        }
    }

    &-body {
        grid-gap: 16px;
        display: grid;
        grid-template: 32px 132px 32px auto/180px 1fr;
        grid-template-areas:
            "album-image title"
            "album-image description"
            ". save-button"
            "disclaimer disclaimer";
        padding: 0 24px 24px;

        &-input {
            grid-area: title;
            background: hsla(0, 0%, 100%, .1);
            border: 1px solid transparent;
            border-radius: 4px;
            color: #fff;
            font-family: inherit;
            font-size: 14px;
            height: 40px;
            padding: 0 12px;
            width: 100%;
        }

        &-textarea {
            grid-area: description;
            background: hsla(0, 0%, 100%, .1);
            border: 1px solid transparent;
            border-radius: 4px;
            color: #fff;
            font-family: inherit;
            font-size: 14px;
            height: 100%;
            padding: 8px 8px 28px;
            resize: none;
            width: 100%;
        }

        &-save-btn {
            cursor: pointer;
            grid-area: save-button;
            background: #fff;
            color: black;
            width: 108px;
            height: 48px;
            border-radius: 50px;
            font-size: 16px;
            font-weight: 700;
            align-self: center;
            justify-self: end;
        }

        p {
            grid-area: disclaimer;
            font-size: 11px;
        }
    }

    &-img {
        grid-area: album-image;
        width: 180px;
        height: 180px;
    }

    input {
        // color: black;
    }
}
.edit-modal-body-save-btn:hover{
    // font-weight: 900;
}

//    -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   background-color: #282828;
//   border-radius: 8px;
//   box-shadow: 0 4px 4px rgba(0,0,0,.3);
//   color: #fff;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   min-height: 384px;
//   width: 524px;
//   -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.3);