.play-btn {
    width: 56px;
    height: 56px;
    background-color: #1ed760;
    border-radius: 100%;
    &:hover {
        background-color: #1fde64;
        
        transform: scale(1.04); /* Increase size by 4% */
    }

    &-icon {
        padding-block-start: 5px;
        padding-inline-start: 1px;
    }
}