.genre-list {
    margin: auto;
    border-radius: var(--br-m);
    // min-width: 26em;
    height: 88dvh;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    gap: 24px;
    padding: 0 32px;
    grid-template-rows: repeat(auto-fill,minmax(184px,1fr));
	font-size: 24px;
}
.label-container{
	background-color: green;
	width: 100%;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	// height: 200px;
	cursor: pointer;
	img{
		right: 0;
		transform: rotate(25deg) translate(18%,-2%);
		height: 100px;
		position: absolute;
		width: 100px;
		bottom: 0;
	}
	span{
		max-width: 100%;
		padding: 16px;
		overflow-wrap:break-word;
		position:absolute;
	}
	}
