
.labels-list{
  overflow: scroll;
  display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(0,180px));
    height: 200%;
	width: 100%;
	overflow: scroll;
	
}
.label-container{
   padding: 16px;
	background-color: green;
	width: 180px;
	height: 180px;
	border-radius: 8px;
	position: relative;
	overflow-x: hidden;
    overflow-y: hidden;
	cursor: pointer;
	img{
		right: 0;
		transform: rotate(25deg) translate(18%,-2%);
		height: 100px;
		position: absolute;
		width: 100px;
		bottom: 0;
	}
	span{
		
		height: 60px;
	}

	}
