.not-custom {
    grid-template-columns: 38px 1.7fr 1.50fr 64.6px;

    // grid-template-columns: 38px 2.24fr 1.50fr 1.43fr 64.6px;
    @media (max-width:1150px) {
        grid-template-columns: 38px 200px 1.50fr 64.6px;
    }
    
    .column-4 {
        display: none;
    }

    .date-added {
        display: none;
    }
    @media (max-width:800px){
        grid-template-columns: 30px 250px 1fr;
    }

}

.custom {
    @media (max-width:800px){
        grid-template-columns: 30px 250px 1fr;
    }
    grid-template-columns: 38px 1.5fr 1.43fr 64.6px;

}

.song-preview {
    &-main {
        @media (max-width:800px){
            .column-3 {
                display: none
            }
            .column-4 {
                display: none
            }
            .column-5 {
                justify-self: end;
                margin-inline-end: 37px;
                        }
        }
        @media (max-width:1150px) {
            
            .column-3 {
                padding-inline-start: 30px;
            }
        }

        &:first-of-type {
            margin-block-start: 10px;
        }

        .played {
            color: #1db954;
            fill: #1db954;
        }

        color: #B3B3B3;
        font-size: 13px;
        display: grid;
        // padding-inline: 16px;
        // grid-gap: 16px;
        align-items: center;
        height: 56px;
        border-radius: 4px;
        padding-inline-end: 28px;

        div:first-of-type {
            display: flex;
            justify-content: center;
        }

        .column-5 {
            position: relative;
            fill: #B3B3B3;
        }

        .clock-icon {
            fill: #B3B3B3;
            padding-inline-start: 23px;

        }

        .play-song-icon {}

        .played-song-gif {
            width: 100%;
            height: 100%;
            padding-block-end: 3px;
            align-items: center;

            img {
                width: 39%;
                height: 29%;
            }
        }

        &.hover {
            cursor: pointer;
            background-color: hsla(0, 0%, 39%, 0.167);
        }

        &.active {
            background-color: hsl(0deg 0% 35.29%);
        }

        &.active,
        &.hover {
            fill: white;

            .column-3 {
                color: white;
            }

            .song-preview-name {
                color: white;
            }
        }

    }

    &-header {
        @media (max-width:1150px) {

            display: none;
            // .album {
            //     padding-inline-start: 30px;
            // }
        }

        border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.1);
    }

    height: 36px;
    border-radius: 0px;


    p {
        margin: 0;
    }

    &-content {
        display: flex;
        align-items: center;
        gap: 19px;
        // div:nth-child(3){
        //     white-space: nowrap;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        // }
    }

    &-preferences {
        position: absolute;
        display: flex;
        /* justify-content: space-between; */
        top: 30%;
        left: 50%;
        transform: translate(-50%, -37%);
        gap: 14px;

        .heart-icon {
            padding-block-start: 1.4px;
        }
    }

    .custom-heart {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -37%);
        gap: 65px;
    }

    span:first-of-type {
        // align-self: center;
    }

    &-img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // object-position: center bottom; /* center the image vertically */

        }

        // overflow: hidden;
        width: 40px;
        height: 40px;
    }

    &-name {
        display: flex;
        flex-direction: column;


        & span {
            color: white;
            white-space: pre;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }



    .song-preview-main:hover:not(.song-preview-content-table) {


        .hover {}
    }


    .pref-hidden {
        visibility: hidden;
    }

    .pref-visible {
        visibility: visible;
    }
}

.fill-green {
    fill: #1db954;
}