.song-preview{
    &-main{
        color: #B3B3B3;
        font-size: 13px;
        display:grid;
        grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px,1fr);
        padding-inline: 16px;
        grid-gap: 16px;
        font-size: 16px;
        align-items: center;
        height: 56px;
        border-radius: 4px;
        
        div:first-of-type{
            display: flex;
            justify-content: center;
        }
    }
    &-content-table{
        border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.1);
        height: 36px;
        border-radius: 0px;
        margin-block-end: 15px;
        padding-block-end: 5px;
       .album{
        padding-inline-start: 14px;
       }
       .date-added{
        padding-inline-start: 22px;
       }
        .clock-icon{
            fill: #B3B3B3;
            display: flex;
            justify-content: center;
            margin-inline-end: 20px;
        }
    }
    p{
        margin: 0;
    }
    &-content{
        display: flex;
        align-items: center;
        
    }
    &-preferences{
        display: flex;
        justify-content: space-between;
    }
    span:first-of-type{
        // align-self: center;
    } 
    &-img{
        img{
            object-fit:cover ;
            object-position: center center;
        }
        width: 40px;
        height: 40px;
        margin-inline-end: 16px;
    }
    &-name{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &-title{
            color: white;
        }
    }
    &-play-btn{
        fill: white;
        :hover{
            cursor: pointer;
        }
    }
}
.song-preview-main:hover:not(.song-preview-content-table){
    background-color: hsl(0deg 0% 38.82%);
}

.pref-hidden{
    visibility: hidden;
}
.pref-visible{
    visibility: visible;
}