.station-preview{
    background-color: #292929b3;
    padding: 2em;
    transition: 300ms;
    text-align: ltr;
    margin: 2em 2em 2em 1em;
    padding: 1em;
    width: 218px;
    height: 310px;
    border-radius: 8px;
    font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva;
   
	img {
        border-radius: 8px;
        margin: auto;
        height: 180px;
        width: 180px;
    }
	&:hover{
        background-color: #292929;
   
    }
    
}