.station-details {
    grid-row: 2;
    padding-inline: 32px;

    &-body {
        display: flex;
        .options-icon {
            svg {
                cursor: pointer;
                fill: white;
            }
        }
    }
}