.header-placeholder{
	height: 100px;
}

.station-list-text{
	margin-inline-start: 24px;
	margin-block-start: 2em;
	margin-block-end: 0px;
}
 
.station-list-top-content-container {
	margin-inline-start: 6px;
	padding: 0px;
	width: 98%;
	row-gap: 1em;
	@media (max-width:1600px) {
		.top-content{
			   height: 84px;
	   }
		
	}
	@media (max-width:1220px) {
		min-height: 220px;
		grid-template-columns: repeat(2, minmax(267px, 1fr));
		row-gap: 0.5em;
	 .top-content{
			height: 64px;
	}
	}
	@media (max-width:1085px) {

        min-height: 190px;
	}
	
	padding-inline-start: 12px;
	padding-inline-end: 6px;
	grid-column: 1 / -1;
	align-items: center;
	display: grid;
    column-gap: 12px;
	grid-template-columns: repeat(3, minmax(267px, 1fr));
	min-height:  147px;
	text-align: ltr;
	.top-content{
    @media (min-width: 1220px) {
	height: 84px;
     img {
	height: 84px;
	width: 84px;
    }
      }
	font-size: 0.63em;
	display: flex ;
	 min-width: 200px;
	  align-items: center;
	  background-color: #2E293C;
      border-radius: 4px;
      height: 64px;
	}
	h1{
	height: auto;
	justify-self: end;
	}
	img {
	width: 64px;
	height: 64px;
	border-radius: 4px;
	}
	*:not(img) {
		margin: 0.2em;
		transition: 300ms;
		&:hover {
			background-color: #464054
		}
	}
}


.station-list {
	grid-row: 2;
	padding: 0;
    overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
    display: grid;
	gap: 24px;
	column-gap: 0.9em;
    grid-template-columns: repeat(auto-fill,minmax(0,220px));
}

// ::-webkit-scrollbar{
//     background: transparent;
// 	width: 0.5em;
// }
// ::-webkit-scrollbar-thumb{
//     background: #7c7b7bab;
//     border-radius: 6px;
// 	&:hover{
		
// 		background: #7c7b7bf5;
// 	}
// }
