.station-details {
    grid-row: 2;
    // padding-inline-end: 32px;
    padding-block-end: 4em;

    &-body {
        display: flex;
        padding-block-start: 40px;
        padding-block-end: 25px;
        gap: 32px;
        position: relative;

        .options-menu {
            position: absolute;
            top: 80px;
            left: 124px;
            background-color: #282828;
            padding: 5px;
            border-radius: 4px;
            box-shadow: 0 16px 24px rgba(0, 0, 0, .3), 0 6px 8px rgba(0, 0, 0, .2);
            z-index: 10;
            li{
                list-style: none;
                width: 212px;
                padding-inline: 12px;
                padding-block: 8px;
                color: #FFFFFFE6;
                border-radius: 4px;
                cursor: pointer;
                &:hover{
                    background-color: hsla(0,0%,100%,.1);
                    color: #fff;
                }
            }
        }

        .options-icon {
            align-self: center;
            padding-block-start: 6px;

            svg {
                cursor: pointer;
                fill: white;
            }
        }
    }

    .song-search-header {
        border-top: 1px solid hsla(0deg, 0%, 100%, 0.1);
        margin-block-start: 24px;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        h1 {
            font-size: 1.3rem;
            font-weight: 700;
            letter-spacing: -0.7px;
            margin-block-end: 27px
        }
    }

}