
.station-list-top-content-container {
	padding: 0px;

	padding-inline-start: 12px;
	padding-inline-end: 6px;
	// background-color: #181818;
	grid-column: 1 / -1;
	align-items: center;
	display: grid;
    column-gap: 12px;
    row-gap: none;
	grid-template-columns: repeat(2, minmax(360px, 1fr));
	min-height: 220px;
	text-align: ltr;
	.top-content{
	  display: flex;
	  align-items: center;
	  background-color: #292929b3;
      border-radius: 8px;
      height: 64px;
	}
	h1{
		align-self: start;
		height: auto;
	}
	img {
    margin-inline-start:-11px ;
	width: 72px;
	}
	* {
		padding: 0.5em;
		height: 4em;
		margin: 0.2em;
		transition: 300ms;
		&:hover {
			background-color: #292929;
		}
	}
}

.station-list {
	// background-color: #181818;
	padding: 0;
overflow-x: hidden;
	overflow-y: hidden;
    display: grid;
	gap: 24px;
	column-gap: 1.5em;
    grid-template-columns: repeat(auto-fill,minmax(0,220px));
}

::-webkit-scrollbar{
    background: transparent;
	width: 0.5em;
}
::-webkit-scrollbar-thumb{
    background: #7c7b7bab;
    border-radius: 6px;
	&:hover{
		
		background: #7c7b7bf5;
	}
}
