@import url('https://fonts.cdnfonts.com/css/gotham');

//TODO: CHANGE THIS IMPORT CDN TO @FONTFACE IN typgraphy.scss
// font-family: 'Gotham', sans-serif;
// font-family: 'Gotham Black', sans-serif;
// font-family: 'Gotham Light', sans-serif;
// font-family: 'Gotham Thin', sans-serif;
// font-family: 'Gotham XLight', sans-serif;
// font-family: 'Gotham Book', sans-serif;
// font-family: 'Gotham Ultra', sans-serif;
.station-details {
    &-header {
        display: flex;
        gap: 28px;
        justify-content: flex-start;
        align-items: center;
        &-info{
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        img {
            width: 232px;
            height: 232px;
        }

        span {
            font-size: 14px;
        }

        &-title {
            cursor: pointer;
            // font-family: 'gotham Book', sans-serif;
            // font-weight: bold;
            font-size: 6rem;
            margin: 0 0 0.1em;
        }

        p {
            margin:1em 0 0.5em;
            ;
        }
    }

}