.station-details {
    &-header {
        display: flex;
        gap: 28px;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 232px;
            height: 232px;
        }

        span {
            font-size: 14px;
        }

        &-title {
            cursor: pointer;
            font-family: gothambook,sans-serif;
            font-weight: 800;
            font-size: 6em;
            margin: 0 0 0.1em;
        }
    }

}