.station-list {
    // grid-column: 1 / -1;
    border: 1px solid black;
    max-width: 238px;
	align-items: center;
	display: grid column;
	grid-template-columns: repeat(auto fill, minmax(360px, 1fr));
	// grid-auto-rows: auto;
	margin-block-end: 7em;
	min-height: 220px;
	text-align: center;
	* {
        // margin: auto;
		padding: 0.5em;
		height: 4em;
		margin: 1em;
		border: var(--border0);
		border-radius: var(--br-m);
		transition: 300ms;
		&:hover {
			background-color: var(--clr5);
		}
	}}

