.station-filter {
    justify-self: start    ;
    // -webkit-box-flex: 0;   
    // font-size: 0.875rem; 
    margin-inline-end: 380px;
    flex: 0 1 364px;


    
    background-color: #fff;
    display: flex;
    align-items: center;
    min-width: 364px;
    height: 40px;
    border-radius: 25px;
}

.search-input {
    width: 250px;
    color: black;
    border: none;
}

.search-icon {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-inline-start: 6px;
    margin-inline-end: 6px;
    fill: rgb(0, 0, 0);
}