.station-preview{
    .station-preview-desc{
        font-size: 0.7em;
    }

    background-color: rgb(23, 23, 23);
    padding: 2em;
    transition: 300ms;
    text-align: ltr;
    margin: 2em 2em 2em 1em;
    padding: 1em;
    width: 218px;
    height: 310px;
    border-radius: 8px;
    font-family: 'circular';
    @media (max-width:1600px) {
		width: 194px;
        height: 285px;

    img{
        width: 162px;
        height: 162px;
    }
		
	}
    p{
        margin-block-end: 0.2em;
    }
   
	img {
        border-radius: 4px;
        margin: auto;
        // height: 180px;
        // width: 180px;
    }
	&:hover{
        background-color: #292929;
   
    }
    
}