.station-preview{
    background-color: #292929b3;
    padding: 2em;
    transition: 300ms;
        text-align: center;
        margin: 2em 2em 2em 2em;
        padding: 1em;
       width: 228px;
       height: 320px;
       border-radius: 8px;
    // margin: auto;
    // border: 1px solid black;
    // width:250px;
    // height: 350px;
	img {
        border-radius: 8px;

        margin: auto;
        height: 180px;
        width: 180px;
    }
    
	&:hover{
        background-color: #292929;
   
    }
    
}