* {
    box-sizing: border-box;
    font-family: Circular Light, Circular Light MAC;
}

::selection {

}

html,
body,
#app {
    height: 100%;
        // transition: 400ms ease-in-out;
    // transition: 4000ms ease-in-out;

    // background-image: linear-gradient(0deg,#121212 70%,#220e47 );
    background-attachment: fixed;
}

html {
    // font-family: montserrat;
    font-weight:700;
    line-height: 1.6;
    color: $clr2;
}

body {
    color: $clr6;
    font-size: rem(16px);
    margin: 0;
    // background-color: #181818;
    overflow: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Circular Black,Circular Black MAC;
    margin: 0 0 0.6em;
    line-height: 1;
}


textarea:focus,
input:focus {
    outline: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    aspect-ratio: 1;
}

p {
    margin: 0 0 1em;
    // max-width: 40ch;
}

a {
    text-decoration: none;
    color: $clr6;
}

::-webkit-scrollbar {
    @media (max-width: 800px) {
        display: none;
        
    }
    background: linear-gradient(0deg, #121212 90%, #222222 );
    // background: linear-gradient(0deg, #121212 90%, #220e47);
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #7c7b7bab;
    border-radius: 6px;

    &:hover {

        background: #7c7b7bf5;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .ball {
    @media (max-width:800px) {
           margin-block-start: 100px;
   }
    width: 16px;
    height: 16px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: white;
    animation: grow-shrink 1s ease-in-out infinite;
  }
  
  .ball:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .ball:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes grow-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  