* {
    box-sizing: border-box;
    font-family: Circular Light, Circular Light MAC;
}

::selection {

}

html,
body,
#app {
    // height: 100dvh;
    // background-image: linear-gradient(0deg,#121212 70%,#220e47 );
    background-attachment: fixed;
}

html {
    // font-family: montserrat;
    font-weight:700;
    line-height: 1.6;
    color: $clr2;
}

body {
    color: $clr6;
    font-size: rem(16px);
    margin: 0;
    // background-color: #181818;
    overflow: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Circular Bold,Circular Bold MAC;
    margin: 0 0 0.6em;
    line-height: 1;
}


textarea:focus,
input:focus {
    outline: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    aspect-ratio: 1;
}

p {
    margin: 0 0 1em;
    // max-width: 40ch;
}

a {
    text-decoration: none;
    color: $clr6;
}

::-webkit-scrollbar {
    background: linear-gradient(0deg, #121212 90%, #222222 );
    // background: linear-gradient(0deg, #121212 90%, #220e47);
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #7c7b7bab;
    border-radius: 6px;

    &:hover {

        background: #7c7b7bf5;
    }
}