* {
    box-sizing: border-box;
    color: $clr6;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html,
body,
#app {
    height: 100%;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    background-color: rgb(22, 22, 22);
    font-size: rem(18px);
    margin: 0;
    background-color: darkslategrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}


// section,
// main,
// footer {
//     padding: 5px;
// }

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
}

a:hover {
    // text-decoration: underline;
}