.container {
    max-width: 1500px;
    padding: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    }
}

.station-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.app-main {
    @media (max-width:800px) {
        // width: max-content;
        // height: 100dvh;
        // grid-area: 1 / 1 / -1 / -1;
        grid-column: 1/3;

    }
    // @media (min-width:800px) {
        grid-area: 1 / 2 / -1 / -1;
    // }
    z-index: 100;
    background-image: linear-gradient(0deg, #121212 88%, #222222);
    background-attachment: local;
    padding: 32px;
    padding-top: 32px;
    // grid-row: 1/-1;
    // grid-column: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 48px 1fr 120px ;
    overflow: overlay;
    overflow-x: hidden;
}

.layout-container {
    @media(max-width: 800px){
        // grid-template-columns: 1fr;
        grid-template-rows: 70px calc(100dvh - 140px) 70px;

    }
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 80dvh 139px;
    padding-block-end: 1em;

}