.container {
    max-width: 1500px;
    padding: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}

.station-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.app-main{
        //  margin-inline-start: auto;
        grid-row: 1/-1;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr 120px 0.5fr;
        overflow: scroll;
        overflow-x: hidden;
        padding-inline: 32px;
    }
    
    .layout-container{
        display: grid;
        grid-template-columns: 185px 1fr;
        grid-template-rows: 80px 72dvh 120px;   

}