@font-face {
  font-family: 'Circular Book';
  src: url('../src/assets/fonts/Circular/CircularStd-Book.otf');
}

@font-face {
  font-family: 'Circular Book MAC';
  src: url('../src/assets/fonts/Circular/CircularStd-BookMAC.otf');
}

@font-face {
  font-family: 'Circular Bold';
  src: url('../src/assets/fonts/Circular/CircularStd-Bold.otf');
}

@font-face {
  font-family: 'Circular Bold MAC';
  src: url('../src/assets/fonts/Circular/CircularStd-BoldMAC.otf');
}

@font-face {
  font-family: 'Circular Black';
  src: url('../fonts/Circular/CircularStd-Black.otf');
}

@font-face {
  font-family: 'Circular Black MAC';
  src: url('../fonts/Circular/CircularStd-BlackMAC.otf');
}

@font-face {
  font-family: 'Circular Light';
  src: url('../fonts/Circular/CircularStd-Light.otf');
}

@font-face {
  font-family: 'Circular Light MAC';
  src: url('../fonts/Circular/CircularStd-LightMAC.otf');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('../fonts/Circular/CircularStd-Medium.otf');
}

@font-face {
  font-family: 'Circular Medium MAC';
  src: url('../fonts/Circular/CircularStd-MediumMAC.otf');
}