
@font-face {
    font-family: Gotham Book;
    src: url('../../../../src/assets/fonts/Circular/GothamBook.ttf');
  }
@font-face {
    font-family: Gotham Bold;
    src: url('../../../../src/assets/fonts/Circular/GothamBold.ttf');
  }
  